/**************************************************************
 * Global
 **************************************************************/

@font-face {
  font-family: 'Walibi';
  src: url('../fonts/walibi-webfont.woff2') format('woff2'),
    url('../fonts/walibi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Rubik', sans-serif;
  background: #0e0613 none repeat scroll 0% 0%;
  background-repeat: repeat; 
  /* background-image: url('../images/background2.jpg'); */
}

html,
body {
  height: 100%;
  color: #ffffff;
}

h1 {
  text-align: center;
}

h1,
h2 {
  font-family: 'Walibi';
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #8dcbed;
  transition: all 0.25s ease-in;
}

a:hover {
  color: #5da9d3;
}

/**************************************************************
 * Page (container)
 **************************************************************/

.page {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  min-height: 100%;
}

.page::after {
  display: block;
  content: '';
  padding-bottom: 100px;
}

label,
input {
  display: inline-block;
}

label {
  width: 40%;
  text-align: right;
}

label+input {
  width: 30%;
  margin: 0 18% 0 4%;
}

label+select {
  width: 30%;
  margin: 0 10% 0 4%;
}

input+input {
  float: right;
}

label+textarea {
  width: 42%;
  margin: 0 0% 0 4%;
}

.editor {
  display:table;
}

.settings {
  display:table-cell;
  width:33vw;
}

.small-number {
  width: 42px;
}

input[type=checkbox] {
  width: auto;
  height: 22px;
}

.grid {
  display:table-cell;
  width:33vw;
}

.grid-container {
  width: 100%;
  text-align:center;
}

canvas {
  display: inline;
}

.modifier {
  border: dashed white 1px;
  margin-bottom: 21px;
}

h5 {
  margin: 10px;
}

.palette {
  border: dashed white 1px;
  height: 50px;
  text-align: center;
  margin: 12px;
}

.palette_item {
  width: 30px;
  height: 30px;
  display: inline;
}

.palette_selected {
  width: 31px;
  height: 31px;
  border: solid white;
}

.json {
  display:table-cell;
  width:33vw;
  text-align: center;
}

.json-text {
  width: 300px;
  height: 700px;
}

/**************************************************************
 * Manual
 **************************************************************/

 .manual {
  max-width: 650px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100%;
}

h1,
h2 {
  font-family: 'Walibi';
  text-transform: uppercase;
}

.manual img {
  width: 420px;
}

/**************************************************************
 * Banner
 **************************************************************/

.page-header {
  display: table;
  padding: 24px 0px 12px;
  width: 100%;
  text-align: center;
}

.logo {
  width: 150px;
}

.links {
  text-align: center;
  margin-top: 21px;
  margin-bottom: 21px;
}

.links ul {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  list-style: none;
  padding: 0 0 0 0;
}

.links li {
  margin-left: 12px;
  margin-right: 12px;
}

.link {
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 25pt;

  padding: 0.2rem 0.15rem 0.5rem;

  font-family: 'Walibi';
  text-transform: uppercase;
  text-align: center;

  transition: all 0.2s ease-out;
}

.link:hover {
  color: white;
  transform: scale(1.1) translateY(-1px);
}

.link-icon {
  width: 26px;
  margin-right: 6px;
}

.link-blue {
  background-image: url('../images/btn01.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.link-red {
  background-image: url('../images/btn02.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.link-green {
  background-image: url('../images/btn05.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.link-orange {
  background-image: url('../images/btn06.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.link-purple {
  background-image: url('../images/btn04.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/**************************************************************
 * Footer
 **************************************************************/

.page-footer {
  /* Page's bottom */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 50px;
  box-sizing: border-box;

  /* Text style */
  font-size: 12px;
  color: #bbbbbb;
}

.page-footer p {
  text-align: center;
}
